<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node Express!</title>
</head>
<body>
    <h1>In the contact page!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Maiores, aperiam sunt sequi excepturi aspernatur vitae 
        obcaecati minima officiis nam alias enim consequatur cum repellendus, 
        labore magnam, dolorem quidem aliquam autem.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Maiores, aperiam sunt sequi excepturi aspernatur vitae 
            obcaecati minima officiis nam alias enim consequatur cum repellendus, 
            labore magnam, dolorem quidem aliquam autem.
        </p>
</body>
</html>